[user]
    email = kousuke.ruichi@herp.co.jp
    name = ruicc_herpinc
[alias]
    di = diff --color-words
    ds = diff --color-words --staged
    st = status
    ci = commit --verbose
    sh = show
    br = branch --sort='-authordate' --format '%(authordate:short) [%(authordate:relative)] %09 %(objectname:short) %(if)%(HEAD)%(then)%(color:cyan)%(HEAD) %(refname:short)%(color:reset)%(else)%(color:green)%(HEAD) %(refname:short)%(color:reset)%(end) %(if)%(upstream:short)%(then)[%(upstream:short)]%(end)%(upstream:track)'
    co = checkout
    sb = show-branch
    ov = log --graph --stat --date-order ; ov means `overview'
    sw = switch
    w  = worktree
    tags = log --oneline --decorate --tags --no-walk --date=iso-local --pretty='%C(auto)%h %cd%d %s'
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    whitespace = trailing-space,space-before-tab
    precomposeunicode = true
    quotepath = false
[pull]
    ff = only
[push]
    default = simple
    autoSetupRemote = true
[rebase]
    autosquash = true
[credential]
    helper = /nix/store/r9dfg5c33xil5p9chz15wmz4inkjbhkz-git-credential-manager-2.6.0/bin/git-credential-manager
#    helper = /nix/store/82a5w57izqvvz1n7ddlg1mssrmvzz3gi-git-2.36.0/bin/git-credential-netrc

[url "https://ruicc_herpinc@github.com/herp-inc-hq/"]
    insteadOf = https://github.com/herp-inc-hq/

