[user]
	email =
	name =
[alias]
	di = diff --color-words
	ds = diff --color-words --staged
	st = status
	ci = commit
	sh = show
	br = branch
	co = checkout
	sb = show-branch
	ov = log --graph --stat --date-order ; ov means `overview'
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	whitespace = trailing-space,space-before-tab
	precomposeunicode = true
	quotepath = false
[push]
	default = simple
